In [1]:
import pandas as pd

In [2]:
bici_19 = pd.read_csv('AB_19.csv')
bici_18 = pd.read_csv('AB_18.csv')
bici_17 = pd.read_csv('AB_17.csv')

In [3]:
bici = pd.concat([bici_19, bici_18, bici_17], ignore_index = True)

In [4]:
bici.head()

,fecha,meteo,tipo_accidente,lesividad,distrito,direccion
0,2019-01-01 14:00:00,Despejado,Colision,Moderada,SALAMANCA,CALL. CASTELLO / CALL. DON RAMON DE LA CRUZ
1,2019-01-02 21:00:00,Despejado,Colision,Grave,HORTALEZA,AVDA. GRAN VIA DE HORTALEZA / GTA. LUIS ROSALES
2,2019-01-03 14:00:00,Despejado,Colision,Leve,VILLA DE VALLECAS,CALL. FELIPE ALVAREZ 10
3,2019-01-03 13:00:00,Despejado,Colision,Leve,VILLA DE VALLECAS,AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA
4,2019-01-03 13:00:00,Despejado,Colision,Leve,VILLA DE VALLECAS,AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA

In [5]:
def horario(df):
    df['fecha'] = pd.to_datetime(df['fecha'], yearfirst=True)
    df['hora'] = df.fecha.dt.hour
    df['horario'] = df.hora.apply(lambda x: 'MaÃ±ana' if (x>=6 and x<=12) else ('Tarde' if (x>12 and x<=20) else 'Noche'))
    df.drop(['hora'], axis = 1, inplace = True)
    df['dia'] = df.fecha.dt.date
    return df

In [6]:
bici = horario(bici)

In [7]:
bici.head()

,fecha,meteo,tipo_accidente,lesividad,distrito,direccion,horario,dia
0,2019-01-01 14:00:00,Despejado,Colision,Moderada,SALAMANCA,CALL. CASTELLO / CALL. DON RAMON DE LA CRUZ,Tarde,2019-01-01
1,2019-01-02 21:00:00,Despejado,Colision,Grave,HORTALEZA,AVDA. GRAN VIA DE HORTALEZA / GTA. LUIS ROSALES,Noche,2019-01-02
2,2019-01-03 14:00:00,Despejado,Colision,Leve,VILLA DE VALLECAS,CALL. FELIPE ALVAREZ 10,Tarde,2019-01-03
3,2019-01-03 13:00:00,Despejado,Colision,Leve,VILLA DE VALLECAS,AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA,Tarde,2019-01-03
4,2019-01-03 13:00:00,Despejado,Colision,Leve,VILLA DE VALLECAS,AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA,Tarde,2019-01-03

In [9]:
cal = pd.read_csv ('../raw_data/bicicletas/calendario.csv', encoding='latin_1',sep = ';')

In [10]:
cal.head()

,Dia,Dia_semana,laborable / festivo / domingo festivo,Tipo de Festivo,Festividad
0,01/01/2013,martes,festivo,Festivo nacional,AÃ±o Nuevo
1,02/01/2013,miÃ©rcoles,laborable,NaN,NaN
2,03/01/2013,jueves,laborable,NaN,NaN
3,04/01/2013,viernes,laborable,NaN,NaN
4,05/01/2013,sÃ¡bado,sÃ¡bado,NaN,NaN

In [13]:
cal.drop(['Dia_semana', 'Tipo de Festivo', 'Festividad'], axis = 1, inplace = True)

In [15]:
cal.Dia = pd.to_datetime(cal['Dia'], dayfirst=True)

In [17]:
cal.rename(columns={'Dia':'dia', 'laborable / festivo / domingo festivo':'festividad'}, inplace=True)

In [18]:
cal.head()

         dia festividad
0 2013-01-01    festivo
1 2013-01-02  laborable
2 2013-01-03  laborable
3 2013-01-04  laborable
4 2013-01-05     sÃ¡bado